body {
    margin: 1% 0% 1% 0%; /*top-right-bottom-left*/ 
    padding: 0px; /*top-right-bottom-left*/
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5 {
    color: black;
    -width: 90%;
    box-shadow: 10px 10px 8px #888888;
    background-color: rgb(167, 238, 196); 
    -opacity: 0.5;
    -border: dotted 2px black;
    padding: 2px 0px 2% 0px; /*top-right-bottom-left*/ 
}



p {
    color: darkgray; 
    -width: 90%;
    box-shadow: 10px 10px 8px rgb(186, 191, 194);
    -background-color:white;
    -border: dotted 2px blue;
    padding: 2px 0px 2% 0px; /*top-right-bottom-left*/ 
}

header {
    -border: blueviolet solid 2px;
    margin: 1% 0% 1% 0%; /*top-right-bottom-left*/ 
    padding: 2px 2% 2px 12%; /*top-right-bottom-left*/

}

nav {
    -border: black solid 3px;
}

nav p { 
    -border: dotted 3px black; 
    margin: 1% 0% 1% 0%; /*top-right-bottom-left*/ 
    padding: 2px 2% 2px 12%; /*top-right-bottom-left*/ 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: flex-start;
}

section {
    -border: dotted 3px blue; 
    margin: 1% 0% 1% 0%; /*top-right-bottom-left*/ 
    padding: 2px 0px 2px 0px; /*top-right-bottom-left*/ 
} 

img {
    width: 100%;
    margin: 1% 0% 1% 0%; /*top-right-bottom-left*/ 
    padding: 2px 0px 2px 0px; /*top-right-bottom-left*/ 
    -box-shadow: 10px 10px 8px #888888;
    -border: dotted 2px darkorchid;
} 

main {
    display: flex;
    justify-content: center;
}

#box {
    -border: solid 3px red; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start;
    margin: 1% 0% 1% 0%; /*top-right-bottom-left*/
    padding: 2px 12% 2px 12%; /*top-right-bottom-left*/ 
}

.box-1 {
    -border: dashed 3px green; 
    width: 30%; 

}

.box-2 {
    -border: dashed 3px blue;
    width:60%; 
}

.box-3 {
    -border: dashed 3px darkviolet;
    width: 30%;
}

.box-4 {
    -border: dashed 3px darkred;
    width: 60%; 
    display: flex; 
    flex-direction: column;
}

.box-4-icons {
    -border: solid 2px darkolivegreen;
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-items: center;
}


.icon-background {
    width: 18%;
}

footer {
    background-color: lightgray;
    -border: solid blue 2px;
    margin: 1% 0% 1% 0%; /*top-right-bottom-left*/ 
    padding: 2px 12% 2px 12%; /*top-right-bottom-left*/
    
}

.footer-all { 
    background-color: lightgray; 
    width: 100%;
    margin: 1% 0% 1% 0%; /*top-right-bottom-left*/ 
    padding: 2px 0px 2px 0px; /*top-right-bottom-left*/ 
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: space-evenly; 
}

.footer-1-find-us {
    background-color: lightgray;
    width: 30%; 
    -box-shadow: 10px 10px 8px #888888;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-2-about-this-page {
    background-color: lightgray;
    width: 20%; 
    -box-shadow: 10px 10px 8px #888888;
}

.footer-3-archives {
    background-color: lightgray;
    width: 20%; 
    -box-shadow: 10px 10px 8px #888888;
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
}

.footer-4-navi-links {
    background-color: lightgray;
    width: 20%; 
    -box-shadow: 10px 10px 8px #888888;
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
}


a:link { 
    color: rgb(19, 97, 97);
    -border: aqua solid 1px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 1% 0% 1% 0%; /*top-right-bottom-left*/ 
    padding: 2px 52px 2px 2px; /*top-right-bottom-left*/ 
    box-shadow: 3px 3px 1px #888888;
    background-color: white;
}

a:visited {
    color: rgb(28, 146, 146);
}


a:hover,
a:active,
a:focus {
  background-color:rgb(255, 154, 2);
}

@media only screen and (max-width: 600px) {
    
    body {       
        display: flex;
        flex-direction: column; 
        flex-wrap: nowrap;
    }

       
    h1, h2, h3, h4, h5 {
        padding: 0px 10px 0px 10px; /*top-right-bottom-left*/
    }
    
   
    p {
        padding: 0px 10px 0px 10px; /*top-right-bottom-left*/
    }

     
    header {
        width: 100%;
        margin: 0% 0% 1% 0%; /*top-right-bottom-left*/ 
        padding: 0px 10px 0px 10px; /*top-right-bottom-left*/
    } 

    
    .header-box {
        padding: 0px 0px 0px 0px; /*top-right-bottom-left*/
    } 

   
    nav p { 
        padding: 0px 0% 0px 0%; /*top-right-bottom-left*/ 
        flex-direction: column;
    }

    
    section {
        margin: 1% 0% 1% 0%; /*top-right-bottom-left*/ 
        padding: 2px 0px 2px 0px; /*top-right-bottom-left*/ 
    } 

    
    img {} /*I am leaving it blank just in case I decide to add sth in the future.*/

    
    main {     
        flex-direction: column;
    }
    
    #box {
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
        padding: 0; /*top-right-bottom-left*/ 
    }



    
    .box-1 {
        width: 100%; 
        height: 100%; 
    }
    
    .box-2 {        
        width:100%; 
        order: -1
    }

    .box-3 {        
        width: 100%;
    }
    
    .box-4 {
        width: 100%; 
    }
    
    .box-4-icons {
        -border: solid 2px darkolivegreen;
        width: 100%; 
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: space-evenly; 
        align-items: center;
    }
    
    
    .icon-background {
        width: 40%;
    }
    
    footer {
        padding: 0px 0% 0px 0%; /*top-right-bottom-left*/ 
        flex-direction: column;
        flex-wrap: nowrap; 
        justify-content: space-between; 
        align-items: space-evenly; 
    }
    
    .footer-all { 
        flex-direction: column;
    }
    
    .footer-1-find-us {
        width: 100%; 
    }

    .map-style {
        padding-left: 2px;
        width: 95%;
        height: 100%; 
    }

    .footer-2-about-this-page {
        width: 100%; 
    }

    .footer-3-archives {
        width: 100%; 
    }

    .footer-4-navi-links {        
        width: 100%; 
    }
    
    
    a:link { 
        padding: 0px 2px 0px 10px; /*top-right-bottom-left*/
        font-size: 1.0em;
        border: white solid 1px;
    }
    
    a:visited {
        border: white solid 1px;
    } /*I am leaving it blank just in case I decide to add sth in the future.*/
    
    a:hover,
    a:active,
    a:focus {
        border: white solid 1px;
    } /*I am leaving it blank just in case I decide to add sth in the future.*/

}